* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #fff url(images/fundo.png) repeat-x;
}

/** ---------------- Top ---------------- **/

#container {
    width: 960px;
    margin: 0 auto;
    
}

#top {
    height: 150px;
    background: url(images/detalhe-topo.png) no-repeat right top;
    margin-top: 15px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(images/logo.png) no-repeat center;
    margin-top: 15px;
}

/**---------------- nav_bar_top ----------------**/
#nav_bar {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #b10333;
    margin-top: 30px;
    float: left;
    
}

#nav_bar li {
    float: left;
    
}

#nav_bar a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
    background: url(images/divisor.png) no-repeat left center;
}

#nav_bar a:hover {
    color: #69001d;
}

/** ---------------- Columns ---------------- **/

#content {
    margin-top: 60px;
    background: #f5f5f5;
}

/**---------------- Column First ---------------- **/

/* three */
#three-columns #first {
    width: 335px;
    float: left;
    margin: 15px 15px 15px 260px;
}

#three-columns #first h2{
    width: 335px;
    padding: 5px;
    background-color: #294c71;
    border-radius: 2px;
    color: white;
}

/* last_interviews */
#three-columns #first #last_interviews {
    margin: 0;
    padding: 0;
    background: #fff;
    margin: 15px 0 15px 0;
}

#three-columns #first #last_interviews span{
    width: 255px;
    font-size: 1.3em;
    padding: 5px;
    margin-left: 5px;
    background-color: #b10333;
    color: #ffffff;
}

#three-columns #first #last_interviews img {
    width: 325px;
    margin: 15px 0 0 5px;
}

#three-columns #first #last_interviews p {
    width: 325px;
    margin: 15px 0 0 5px;
    font-size: 1.3em;
}

#three-columns #first #last_interviews a {
    width: 325px;
    margin: 5px 0 0 5px;
    text-decoration: none;
    font-size: 1.3em;
    color: #69001d;
}

#three-columns #first #last_interviews a:hover {
    color: #92032b;
    margin-left: 10px;
    cursor: pointer;
    transition: margin 1s;
}

/* world */
#three-columns #first #world {
    margin: 25px 0 25px 0;
}

#three-columns #first #world img {
    width: 110px;
    margin: 0 0 0 0;
    float: left;
}

#three-columns #first #world img:hover {
    width: 115px;
    margin: 0;
    padding: 0;
    float: left;
    cursor: pointer;
}

#three-columns #first #world span {
    width: 205px;
    margin: 0 0 0 10px;
    float: left;
    font-size: 1em;
    color: #295171;
    text-decoration: none;
}

#three-columns #first #world p {
    width: 205px;
    margin: 5px 0 39px 10px;
    float: left;
    text-decoration: none;
    color: #000000;
}

/* two */
#two-columns #first {
    width: 555px;
    float: left;
    margin: 0 0 15px 275px;
}

/* one */
#one-column #first {
    background-color: aqua;
    width: 960px;
    float: left;
    margin: 0 0 15px 0px;
}

/**---------------- Column Second ----------------**/
#three-columns #second {
    width: 335px;
    float: left;
    margin: 15px 0 15px 15px;
}

#three-columns #second h2{
    width: 335px;
    padding: 5px;
    background-color: #294c71;
    border-radius: 2px;
    color: white;
}

#three-columns #second #featured {
    padding: 0;
    background: #fff;
    margin: 15px 0 15px 0;
}

#three-columns #second #featured span{
    width: 255px;
    font-size: 1.3em;
    padding: 5px;
    margin-left: 5px;
    background-color: #b10333;
    color: #ffffff;
}

#three-columns #second #featured img {
    width: 325px;
    margin: 15px 0 0 5px;
}

#three-columns #second #featured p {
    width: 325px;
    margin: 15px 0 0 5px;
    font-size: 1.3em;
}

#three-columns #second #featured a {
    width: 325px;
    margin: 5px 0 0 5px;
    text-decoration: none;
    font-size: 1.3em;
    color: #69001d;
}

#three-columns #second #featured a:hover {
    color: #92032b;
    margin-left: 10px;
    cursor: pointer;
    transition: margin 1s;
}

#three-columns #second #recent_news {
    margin: 25px 0 25px 0;
}

#three-columns #second #recent_news img {
    width: 110px;
    margin: 0 0 0 0;
    float: left;
}

#three-columns #second #recent_news img:hover {
    width: 115px;
    margin: 0;
    padding: 0;
    float: left;
    cursor: pointer;
}

#three-columns #second #recent_news span {
    width: 205px;
    margin: 0 0 0 10px;
    float: left;
    font-size: 1em;
    color: #295171;
    text-decoration: none;
}

#three-columns #second #recent_news p {
    width: 205px;
    margin: 5px 0 39px 10px;
    float: left;
    text-decoration: none;
    color: #000000;
}


/**---------------- Side Nav_Bar ----------------  **/

/* three */
#three-columns #side {
    width: 265px;
    float: left;
    margin: 15px 0 0 -960px;
}

/* two */
#two-columns #side {
    width: 265px;
    float: left;
    margin: 15px 15px 0 -960px;
}

#side h2 {
    width: 200px;
    padding: 5px;
    background-color: #294c71;
    border-radius: 2px;
    color: white;
}

#side #nav_bar_side ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fff;
    margin-top: 15px;
    float: left;
}

#side #nav_bar_side li {
    padding: 8px;
}

#side #nav_bar_side a {
    text-decoration: none;
    font-size: 1.2em;
    color: #000000;
}

#side #nav_bar_side a:hover {
    color: #747474;
    padding-left: 20px;
    background: url(images/marcador.png) no-repeat left center;
    cursor: pointer;
    transition: padding, background 0.3s;
}

/* email_news */

#email_news {
    float: left;
}

#email_news span{
    margin-top: 15px;
    display: block;  
    font-size: 1.2em;
    color: #000000;
    padding-bottom: 5px;
}

#email_news #form_email {
    padding: 8px;
}

#email_news #form_email input{
    width: 200px;
    margin-top: 8px;
    height: 1.4em;
}

#email_news #form_email input[type=button]{
    display: block;
    width: 25%;
    background-color: #b10333;
    color: #ffffff;
    border: none;
}

#email_news #form_email input[type=button]:hover{
    background-color: #92032b;
    cursor: pointer;
}

/** Footer **/
#footer {
    background: #294c71;
    padding: 20px;
    clear: both;
}

footer {
    width: 750px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}
